
:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
}

.title {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2C3E50;
    color: #ECF0F1;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 0;
    min-height: 0;
    padding: 8px;
}
