.ring, .light {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 600px;
  height: 600px;
  border-radius: 300px;
  opacity: 0;
  backface-visibility: hidden;
  perspective:1000;
  transform: translateZ(0);
}

.ring {
  border-width: 200px;
  border-style: solid;
}
.ring.C4 { border-color: #FF3D7F; }
.ring.G4 { border-color: #FF9E9D; }
.ring.C5 { border-color: #DAD8A7; }
.ring.D5 { border-color: #7FC7AF; }
.ring.E5 { border-color: #3FB8AF; }

.light {
  background-image: radial-gradient(
    circle farthest-side,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.1) 30%,
    rgba(255, 255, 255, 0) 100%
  );
}
