.wedge {
  background: #FF3D7F;
  width: 130px;
  height: 260px;
  transition: transform 0.1s;
}

.dial-container {
  position: absolute;
  top: -40px;
  bottom: -40px;
  overflow: hidden;
  width: 130px;
}

.container-1 {
  left: 90px;
}
.container-1 .wedge {
  border-radius: 0 260px 260px 0;
  transform-origin: 0 50%;
}
.container-2 {
  left: -40px;
}
.container-2 .wedge {
  border-radius: 260px 0 0 260px;
  left: 0;
  transform-origin: 130px 130px;
}
