:host {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  perspective: 100px;

  transition: background-color 0.1s ease-out;

  font-family: 'Josefin Slab', cursive;
  text-align: center;

  color: white;
  -webkit-text-stroke: 1px #666;
}

:host(.longest) .word {
  font-size: 8rem;
  margin-top: -4rem;
}
:host(.longer) .word {
  font-size: 12rem;
  margin-top: -6rem;
}
:host(.long) .word {
  font-size: 16rem;
  margin-top: -8rem;
}
:host(.medium) .word {
  font-size: 21rem;
  margin-top: -10.5rem;
}
:host(.short) .word {
  font-size: 26rem;
  margin-top: -13rem;
}

@media only screen and (min-width : 415px) and (max-width : 1024px) {
  :host(.longest) .word {
    font-size: 4rem;
    margin-top: -2rem;
  }
  :host(.longer) .word {
    font-size: 8rem;
    margin-top: -4rem;
  }
  :host(.long) .word {
    font-size: 12rem;
    margin-top: -6rem;
  }
  :host(.medium) .word {
    font-size: 17rem;
    margin-top: -8.5rem;
  }
  :host(.short) .word {
    font-size: 22rem;
    margin-top: -11rem;
  }
}

@media only screen and (max-width : 415px) {
  :host(.longest) .word {
    font-size: 2rem;
    margin-top: -1rem;
  }
  :host(.longer) .word {
    font-size: 4rem;
    margin-top: -2rem;
  }
  :host(.long) .word {
    font-size: 6rem;
    margin-top: -3rem;
  }
  :host(.medium) .word {
    font-size: 8rem;
    margin-top: -4rem;
  }
  :host(.short) .word {
    font-size: 10rem;
    margin-top: -5rem;
  }
}

:host(.C4) { background-color: #30261C; }
:host(.G4) { background-color: #403831; }
:host(.C5) { background-color: #36544F; }
:host(.D5) { background-color: #1F5F61; }
:host(.E5) { background-color: #0B8185; }

.word {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateX(2000px);
  text-align: center;
}
