:host {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #111;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.muted-indicator {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: url(images/muted_icon.svg);
  background-size: cover;
}
.hint {
  position: fixed;
  top: calc(50% - 10px);
  left: calc(50% - 60px);
  color: #aaa;
  font-style: italic;
  text-align: center;
}

.touch-hint { display: none; }

@media (pointer:coarse) {
  .touch-hint { display: block; }
  .click-hint { display: none; }
}
