
<!--<h3> Local Template variables</h3>-->
<!--Echo That: <input #txto (keyup)="0"/>  {{txto.value}}-->
<!--<hr/>-->

<!--<h3>Event Filtering:</h3>-->
<!--<button (click)="toggelVisibleFlag()">Toggle</button>-->
<!--<input [hidden]='visibleFlag' (keyup)="onKey($event)" value="On Key up">-->
<!--&lt;!&ndash;difference between value attr and value prop&ndash;&gt;-->
<!--<input #txt (keyup.enter)="values = values + txt.value + '|'" placeholder="Only on Enter">-->
<!--{{values}}-->

<!--<hr>-->
<!--<h3>Looping:</h3>-->
<!--<ul>-->
<!--<li *ngFor="let nick of monster.nicks; let i = index; let last = last">-->
<!--<span *ngIf="last">And </span><span>{{i+1}} - {{ nick }}</span>-->
<!--</li>-->
<!--</ul>-->
<!--<p>-->
<!--<input #newnick type="text"/>-->
<!--<button (click)="monster.nicks.push(newnick.value)">Add Nick Name</button>-->
<!--<br/>-->
<!--Nick Names:-->
<!--<span *ngIf="monster.nicks.length > 3">Many Names!</span>-->
<!--</p>-->


<!--<hr>-->
<!--<h3>NgModel</h3>-->
<!--<input type="text" [(ngModel)]="monster.name"/>-->
