<div class="icon" [@visibleTrigger]="'visible'" [ngSwitch]="notification.type">
    <i *ngSwitchCase="0" class="fa fa-comment"></i>
    <i *ngSwitchCase="1" class="fa fa-exclamation-triangle"></i>
    <i *ngSwitchCase="2" class="fa fa-code"></i>
    <i *ngSwitchCase="3" class="fa fa-credit-card"></i>
</div>
<div *ngIf="expanded" [@visibleTrigger]="'visible'" class="details">
    <div class="message">
        <span>{{notification.message}}</span>
    </div>
    <div class="date">
        <span>{{notification.date | date:'mediumTime'}}</span>
    </div>
</div>