<div class="container" [@panelWidthTrigger]="expandedState">
    <div class="title" [@titleColorTrigger]="expandedState">
        <span *ngIf="expanded" [@titleTextTrigger]="'in'">Notifications</span>
        <a class="link" (click)="toggleExpandedState()">
            <i [@iconTrigger]="expandedState" class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        </a>
    </div>

    <div class="notifications">
        <notification *ngFor="let n of notifications"
            [notification]="n"
            [expanded]="expanded"></notification>
    </div>
</div>