nav {
      color:white;
      background:black;
      padding:10px;
      position:fixed;
      top:0;
      right:0;
      left:0;
      z-index:100;
    }
    nav button {
      color:white;
      background:#aaa;
      padding:5px;
      margin:3px;
    }
    .box {
      position:absolute;
      width:150px;
      height:150px;
      background:lightblue;
      border:2px solid black;
      box-shadow:         3px 3px 5px 6px #ccc;
    }